.normal{font-family:Helvetica, Arial; font-style:normal; font-size:12pt;
color:#000000;} 
.biglink{font-family:Arial,Helvetica; font-style:normal; font-size:16pt; color:#0000ff;}

.medlink{font-family:Arial,Helvetica; font-style:normal; font-size:14pt; color:#0000ff;}

.link{font-family:Arial,Helvetica; font-style:normal; font-size:12pt; color:#0000ff;}

.largetext{font-family:Arial, Helvetica; font-style:normal; font-size:16pt; color:#000000;}

.title{font-family:EuroseWide Heavy, Helvetica, Arial; font-style:normal;
font-weight:bold; font-size:30pt; color:#FFFFFF; background-color:#00199C;} 
.tinytext{font-family:Arial, Helvetica; font-style:normal; font-size:10pt; color:#000000}

.medtext{font-family:Arial, Helvetica; font-style:normal; font-size:14pt; color:#000000;}
